@import url(https://fonts.googleapis.com/css2?family=Public+Sans:wght@800&display=swap);

$public-sans: 'Public Sans', sans-serif;

body{
    background: #181717;
    font-family: $public-sans;
}

ul {
    list-style-type: none;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing {
    @include flexCenter()
}